body {
	background-color: lightseagreen;
}
p {
	font-size: 20;
	color: blue;
}
p.tytul {
	font-size: 100;
	color: aquamarine;
}
p.ostatnie {
	font-size: 50;
	color: greenyellow;
}
button.menu {
	background-color:green;
	font-size: 30;
	color: purple;
}
