body {
	background-color: lightblue;
}
p {
	font-size: 20;
	color: blue;
}
p.tytul {
	font-size: 100;
	color: red;
}
p.ostatnie {
	font-size: 50;
	color: yellow;
}
button.menu {
	background-color:green;
	font-size: 30;
	color: purple;
}
